<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" 
    	  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    	  crossorigin="anonymous">
	<title>Događaj</title>
</head>
<body>
	<div th:replace="fragments/navigation :: navigation('dogadaji')"></div>


	<div class="container">
	
		<div class="row">
			<div class="card col-md-6 offset-md-3" style="width: 18rem;margin-top: 30px">
			  	<div class="card-body">
			    	<h5 th:text="${dogadaj.naziv}" class="card-title">Username</h5>
			    	<h6 th:text="${dogadaj.opis}" class="card-subtitle mb-2 text-muted">
			    		Opis korisnika. Opis korisnika. Opis korisnika. Opis korisnika. Opis korisnika. 
		    		</h6>
			    	
			    	<dl class="row" style="margin-top: 40px">
					  	<dt class="col-sm-3">
					  		Mjesto
				  		</dt>
					  	<dd th:text="${dogadaj.mjesto}" class="col-sm-9">
					  		Test ime
					  	</dd>
					
					  	<dt class="col-sm-3">
					  		Vrijeme
				  		</dt>
					  	<dd th:text="${dogadaj.datum}" class="col-sm-9">
					  		Test prezime
					 	</dd>
					</dl>
			    	
			    	<div class="text-right">
			    		<form method="post" th:action="@{/prijaviDolazak}">
					    	<input type="hidden" th:value="${dogadaj.id}" name="id">
					    	<button th:if="${not #lists.contains(dogadaj.korisnici, korisnik)}" 
						    		class="btn btn-primary card-link">
						    		Dolazim</button>
			    		</form>
			    		<form method="post" th:action="@{/odjaviDolazak}">
					    	<input type="hidden" th:value="${dogadaj.id}" name="id">
						    <button th:if="${#lists.contains(dogadaj.korisnici, korisnik)}" 
						    		class="btn btn-primary card-link">
						    		Ne dolazim</button>
			    		</form>
			    	</div>
			  	</div>
			</div>
		</div>
		
		<div class="row">
			<div class="card col-md-6 offset-md-3" style="width: 18rem;margin-top: 30px">
			  	<div class="card-body">
			    	<h5 class="card-title">Korisnici:</h5>			    	
			  	</div>
			  	<ul class="list-group list-group-flush">
				    <li th:each="korisnik : ${dogadaj.korisnici}" 
				    	th:text="${korisnik.ime + ' ' + korisnik.prezime + ' (' + korisnik.korisnickoIme + ')'}" 
				    	class="list-group-item"></li>
			 	</ul>
			</div>
		</div>
	
	</div>
	
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
		    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
		    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    		crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    		crossorigin="anonymous"></script>
</body>
</html>